<h2>Allocate</h2>

<%= render "form.html", changeset: @changeset, action: parking_parking_allocation_path(@conn, :create,@parking_id) %>


<span><%= link "Back", to: parking_path(@conn, :index) %></span>
