<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <div class="form-group">
    <%= label f, :autonumber, class: "control-label" %>
    <%= text_input f, :autonumber, class: "form-control" %>
    <%= error_tag f, :autonumber %>
  </div>

  <div class="form-group">
    <%= label f, :starttime, class: "control-label" %>
    <%= text_input f, :starttime, class: "form-control" %>
    <%= error_tag f, :starttime %>
  </div>

  <div class="form-group">
    <%= label f, :endtime, class: "control-label" %>
    <%= text_input f, :endtime, class: "form-control" %>
    <%= error_tag f, :endtime %>
  </div>
 

  <div class="form-group">
    <%= submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
