<template>
<div class="row">

<div class="well col-sm-offset-3 col-sm-6">
{{msg}}
<h2>Edit user</h2>
<div>
  <div class="form-group">
    <label for="name">Name:</label>
    <input type="text" class="form-control" name="name" id="name" v-model="name"  v-validate="'required'" >
      <span v-show="errors.has('name')" class="help is-danger">{{ errors.first('name') }}</span>
  </div>
  <div class="form-group">
    <label for="currentpassword">Current Password:</label>
    <input type="password" class="form-control" id="currentpassword" name="currentpassword" v-model="currentpassword" v-validate="'required'">
    <span v-show="errors.has('currentpassword')" class="help is-danger">{{ errors.first('currentpassword') }}</span>
  </div>
  <div class="form-group">
    <label for="password">Password:</label>
    <input type="password" class="form-control" id="password" name="password" v-model="password" v-validate="'required|confirmed'">
    <span v-show="errors.has('password')" class="help is-danger">{{ errors.first('password') }}</span>
  </div>
  <div class="form-group">
    <label for="password_confirmation">Repeat Password:</label>
    <input type="password" class="form-control" id="password_confirmation"  name="password_confirmation" v-model="password_confirmation" v-validate="'required'" >
    <span v-show="errors.has('password_confirmation')" class="help is-danger">{{ errors.first('password_confirmation') }}</span>
  </div>

  <button type="submit" id="update" class="btn btn-default" v-on:click="updateaccount">Save</button>
    <p class="pull-right"><a href="/#/" >Back to home page</a></p>
</div>
</div>
</div>
</template>
<script>
import auth from "./auth";
import { EventBus } from '../event-bus.js';
import socket from "../socket";
export default {
    data: function () {
        return {
            password: "",
            password_confirmation: "",
            currentpassword : "",
            name: "",
            msg: ""
        }
    },
    methods: {
        updateaccount: function() {
            if(this.errors.any()) return ;
            auth.updateaccount(this, {username: this.username, name: this.name, password: this.password, currentpassword: this.currentpassword }, "/");

        }
    },
    mounted: function () {

      EventBus.$on('allocationevent', msg => {
      this.msg = msg
        console.log(msg)
      });
      this.username = window.localStorage.getItem('parktartu_username');
      this.name = window.localStorage.getItem('name');

    }
}
</script>
