<template>
<div class="container">
{{msg}}

  <div class="row justify-content-md-center">
    <div class="col-md-4">
      <div class="card text-center">
      <div class="card-header">
        Reservation
      </div>
      <div class="card-body">
        <h4 class="card-title">{{street}}</h4>
        
        <img src="/images/street.jpg" alt="street image">
        <div class="card-text">
        <br>
          <h5>From: {{start_time}}</h5>
          <h5>To: {{end_time}}</h5>
          <h5>Zone: {{zone}}</h5>
          <span v-show="errors.has('location')" class="help is-danger">{{ errors.first('location') }}</span>
          <span v-show="errors.has('start_time')" class="help is-danger">{{ errors.first('start_time') }}</span>
          <span v-show="errors.has('end_time')" class="help is-danger">{{ errors.first('end_time') }}</span> 
        </div>
      </div>
      <div class="card-footer">
        <h3>{{paymentType == "hourly" ? costHourly : costRealTime}} euros</h3>
      </div>
    </div>
  </div>
  
    <div class="col-md-8">
      <div class="row">

        <div class="col-md-12">
            <map-parking></map-parking>
        </div>  

        <div class="col-md-12 bs-callout bs-callout-success">
            <h3 for="paymenttype">Payment type: </h3>
            <br>
            <div>
              <input type="radio" id="one" value="real" v-model="paymentType">
              <label for="one">Real-time ({{costRealTime}} euros)</label>
              <p class="text-info">Zone A: 16 cents per 5 minutes, Zone B: 8 cents per 5 minutes</p>
            </div>
            <div>
                <input type="radio" id="two" value="hourly" v-model="paymentType">
              <label for="one">Hourly  ({{costHourly}} euros)</label>
              <p class="text-info">Zone A: 2 euros per hour, Zone B: 1 euro per hour</p>
            </div>
            <br>
            <div class="form-group">
              <payment></payment>
            </div>
            <div class="form-group">
              <button class="btn btn-primary" id="submitAllocation" v-on:click="submitAllocation">Reserve Parking</button>
            </div>
        </div>
    </div>
    </div>
  </div>

</div>

</template>

<script>
import axios from "axios";
import auth from "./auth";
import { EventBus } from '../event-bus.js';
import socket from "../socket";
export default {
    data: function() {
      const now = this.$moment(new Date()).format("HH:mm")
      return {
        start_time: null,
        end_time: null,
        msg: "",
        paymentType: "real",
        costHourly: 0,
        costRealTime: 0
      }
    },
    methods: {

        submitAllocation: function() {
          if(this.errors.any()) return ;
          this.parking_allocation = {starttime: this.$moment(this.start_time, "HH:mm").utc().valueOf(),
                    endtime: this.$moment(this.end_time, "HH:mm").utc().valueOf(),
                    username: this.username}
          axios.post("/api/parkingallocations", {parking_id: this.parking_id, parking_allocation: this.parking_allocation }
        ,{ headers: auth.getAuthHeader() })
              .then(response => {
                  if(response.data.result == "succesfull"){

                    this.$router.push({path: "/", params: { msg: response.data.msg }})
                  }else{
                    console.log("the error exists")
                  }

              }).catch(error => {
                  console.log(error);
              });

        }
    },
    mounted: function () {
      EventBus.$on('allocationevent', msg => {
      this.msg = msg
        console.log(msg)
      });
      this.parking_id =  this.$route.params.parking_id;
      this.location =  this.$route.params.location;
      this.start_time = this.$route.params.start_time;
      this.end_time = this.$route.params.end_time;
      this.zone = this.$route.params.zone;
      this.street = this.$route.params.street;
      this.username = window.localStorage.getItem('parktartu_username');
      this.center = new google.maps.LatLng(this.$route.params.center.lat, this.$route.params.center.lng);
      this.map = new google.maps.Map(document.getElementById('map-parking'), {zoom: 16, center: this.center});
      var loc = new google.maps.Marker({position: (new google.maps.LatLng(this.center.lat(),this.center.lng())), map: this.map});
      
      this.costHourly = estimateCostByType("Hour", this.start_time, this.end_time, this.zone);
      this.costRealTime = estimateCostByType("Minutes", this.start_time, this.end_time, this.zone);

      function estimateCostByType(type, start_time, end_time, zone) {

        var startHourMin = getHourMin(start_time)
        var endHourMin = getHourMin(end_time)
        var seconds = getSecondsDifference(startHourMin, endHourMin);
        var cost = type == "Hour" ? getCostByZoneHours(seconds, zone) : getCostByZoneMinutes(seconds, zone)
        return cost;
      }

      function getCostByZoneHours(seconds, zone) {
         var hours = Math.ceil(seconds/3600);
        return zone == "A" ? 2*hours : hours
      }
      function getCostByZoneMinutes(seconds, zone) {
        var mins = Math.ceil(seconds/300);
        return zone == "A" ? 0.16*mins : 0.8*mins
      }

      function getSecondsDifference(start, end) {
        
        var startDate = new Date();
        startDate.setHours(parseInt(start.hour));
        startDate.setMinutes(parseInt(start.mins));
        startDate.setSeconds(0);
        var endDate = new Date();
        endDate.setHours(end.hour);
        endDate.setMinutes(end.mins);
        endDate.setSeconds(0);
        var seconds = (endDate.getTime() - startDate.getTime()) / 1000;
        return seconds;
      }

      function getHourMin(hourMinString) {
         var hourMin =  hourMinString.split(":");
         return {
           hour: hourMin[0],
           mins: hourMin[1]
         }
      }

    }
}
</script>
