<template>
<div>
  <div v-if="msg" class="alert alert-success" role="alert">
   {{msg}}
  </div>

  <div class="form-group">
    <label for="parking_location">Parking location:</label>
    <input type="text" class="form-control" id="parking_location" v-model="parking_location">
  </div>

<div class="row">
  <div class="col-md-4">
    <div class="form-group">
      <label for="parking_time">Parking starting time:</label>
      <div class="input-group clockpicker">
          <input type="time" class="form-control" id="parking_starting_time" name="starttime" v-validate="'required'"  v-model="parking_starting_time">
      </div>
      <span v-show="errors.has('starttime')" class="help is-danger">{{ errors.first('starttime') }}</span>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label for="parking_time">Parking ending time:</label>
      <div class="input-group clockpicker">
          <input type="time" class="form-control" id="parking_end_time" name="endtime" v-validate="'required'" v-model="parking_end_time">
      </div>
      <span v-show="errors.has('endtime')" class="help is-danger">{{ errors.first('endtime') }}</span>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label for="parking_time">Distance(meters):</label>
      <vue-slider v-bind="options" ref="slider" v-model="distance"></vue-slider>
    </div>
  </div>
</div>

  <div class="form-group">
    <button class="btn btn-primary" id="submitParking" v-on:click="submitParkingRequest">Search</button>
  </div>

<map-parking></map-parking>

<div style="height:300px;overflow:auto;">
<table class="table">
    <thead>
      <tr>
        <th>No.</th>
        <th>Name</th>
        <th>Street</th>
        <th>Zone</th>
        <th>Remaining</th>
      </tr>
    </thead>
    <tbody id="candidates">
        <tr v-for="(item,index) in parkings">
            <td>{{index+1}}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.street }}</td>
            <td>{{ item.zone }}</td>
            <td>{{ item.remaining }}</td>
            <td><router-link :id="index + 1" class="btn btn-primary" :to="{ name: 'allocation', params: { parking_id: item.id, start_time: parking_starting_time, end_time: parking_end_time,location: parking_location, zone: item.zone, street: item.street, center: {lat: item.latitude, lng: item.longitude} }}">Allocate</router-link> </td>
            <td><button class="btn btn-primary" v-on:click="setMarkerstoRows(index)">Show in Map</button></td>
        </tr>
    </tbody>
</table>
</div>
</div>
</template>

<script>
import axios from "axios";
import auth from "./auth";
import app from "../app";
import { EventBus } from '../event-bus.js';
import socket from "../socket";

export default {
    data: function() {
      const now = this.$moment(new Date()).format("HH:mm")
      return {
        parking_location: "",
        parking_time: "",
        parkings: [],
        markerArray: [],
        index : 0,
        parking_starting_time: now,
        parking_end_time: now,
        map: undefined,
        distance: 200,
        options: {
          min: 100,
          max: 500,
          interval: 100,
          piecewise: true,
          tooltipDir: "bottom"
        },
        center: new google.maps.LatLng(58.3792891,26.7260537),
        msg: ""
      }
    },
    methods: {
        submitParkingRequest: function() {
            if(this.errors.any()) return ;
            this.map = new google.maps.Map(document.getElementById('map-parking'), {zoom: 14, center: this.center});
            var geocoder = new google.maps.Geocoder
            var coords = geocoder.geocode({address: (this.parking_location + "Tartu, Estonia")},(results, status) =>
            {
                this.lat = results[0].geometry.location.lat();
                this.lng = results[0].geometry.location.lng();
                axios.post("/api/parkings", {lat: this.lat, lng: this.lng, time: this.time, distance: this.distance,
                            starttime: this.$moment(this.parking_starting_time, "HH:mm").utc().valueOf(),
                            endtime: this.$moment(this.parking_end_time, "HH:mm").utc().valueOf()},{ headers: auth.getAuthHeader() })
                    .then(response => {

                        this.parkings = response.data.parkings
                        this.center = new google.maps.LatLng(this.lat, this.lng)
                        this.map.setCenter(this.center);
                        this.map.setZoom(16);
                        var blue_image = 'http://individual.icons-land.com/IconsPreview/POI/PNG/Plain/24x24/Parking_P_Plain_Blue.png';
                        var red_image = 'http://individual.icons-land.com/IconsPreview/POI/PNG/Plain/24x24/Parking_P_Plain_Red.png';
                        var green_image = 'http://individual.icons-land.com/IconsPreview/POI/PNG/Plain/24x24/Parking_P_Plain_Green.png';

                        var loc = new google.maps.Marker({position: (new google.maps.LatLng(this.lat,this.lng)), map: this.map});
                        var infovindowLoc = new google.maps.InfoWindow({
                             content: "Destination"
                            });

                        loc.addListener('mouseover', function() {infovindowLoc.open(this.map,loc);})
                        loc.addListener('mouseout', function() {infovindowLoc.close();})

                        this.parkings.forEach(parking => {
                            var zone = parking.zone
                            var marker;
                            var infovindow = new google.maps.InfoWindow({
                             content: parking.street + " street" +
                                      "<br>" + "Zone " + parking.zone +
                                      "<br>" + "Available places: " + parking.remaining
                            });
                            if(zone == "A") {
                               marker =  new google.maps.Marker({position: (new google.maps.LatLng((parking.latitude),(parking.longitude))), map: this.map, icon: red_image});
                               marker.addListener('mouseover', function() {infovindow.open(this.map,marker);})
                               marker.addListener('mouseout', function() {infovindow.close();})
                               this.markerArray.push(marker);
                            }
                            else if(zone == "B") {
                               marker = new google.maps.Marker({position: (new google.maps.LatLng((parking.latitude),(parking.longitude))), map: this.map, icon: blue_image});
                               marker.addListener('mouseover', function() {infovindow.open(this.map,marker);})
                               marker.addListener('mouseout', function() {infovindow.close();})
                               this.markerArray.push(marker);
                            }
                            else {
                               marker = new google.maps.Marker({position: (new google.maps.LatLng((parking.latitude),(parking.longitude))), map: this.map, icon: green_image});
                               marker.addListener('mouseover', function() {infovindow.open(this.map,marker);})
                               marker.addListener('mouseout', function() {infovindow.close();})
                               this.markerArray.push(marker);
                            }
                      });
                    }).catch(error => {
                        console.log(error);
                    });
            }
            );
        },
        setMarkerstoRows: function(index) {
            var trs = document.getElementById("candidates").rows;
            for(var i = 0; i < this.markerArray.length; i++) {
                if (i==index) {
                    this.markerArray[i].setAnimation(google.maps.Animation.BOUNCE);
                }
                else {
                    this.markerArray[i].setAnimation(null);
                }
            }
        }
    },
    myEvent: function(event){
        console.log(event);
    },
    mounted: function () {

      EventBus.$on('allocationevent', msg => {
      this.msg = msg
        console.log(msg)
      });
            var data = this;
             $('.clockpicker').clockpicker({
                autoclose: true
            })
            $('#parking_starting_time').change(function(event){
                    data.parking_starting_time = event.currentTarget.value;
                    console.log(data);
            })
            $('#parking_end_time').change(function(event){
                    data.parking_end_time = event.currentTarget.value;
                    console.log(data);
            })
    }
}

</script>
