<template>
<div class="row">
<div class="well col-sm-offset-3 col-sm-6">
<h2>Please log in</h2>
<div>

  <div class="form-group">
    <label for="username">Username:</label>
    <input type="text" class="form-control" v-validate="'required'" name="username" id="username" v-model="username" />
    <span v-show="errors.has('username')" class="help is-danger">{{ errors.first('username') }}</span>
  </div>

  <div class="form-group">
    <label for="password">Password:</label>
    <input type="password" class="form-control" v-validate="'required'" name="password" id="password" v-model="password">
    <span v-show="errors.has('password')" class="help is-danger">{{ errors.first('password') }}</span>
  </div>

  <div>
    <button type="submit" class="btn btn-default" id="login" v-on:click="login">Submit</button>
    <p class="pull-right" id="register"> </a><router-link :to="{ name: 'register'}">Register</router-link></p>
  </div>

</div>
</div>
</div>
</template>
<script>
import auth from "./auth";

export default {
    data: function () {
        return {
            username: "",
            password: ""
        }
    },
    methods: {
        login: function() {
          if(this.errors.any()) return ;
            console.log(`Username ${this.username}, password ${this.password}`);
            auth.login(this, {username: this.username, password: this.password}, "/");
        }
    }
}
</script>
