<template>
<div>
    <navbar></navbar>
    <p class="pull-right"><a href="/login" id="logout" @click.prevent="logout">Log out!</a></p>
</div>
</template>

<script>
import auth from "./auth";
import socket from "../socket";
export default {

    methods: {
        logout: function() {
            auth.logout(this, { headers: auth.getAuthHeader() });
        }
    }
}
</script>
