<template>
<div>
    <div id="map-parking" style="width:100%;height:300px"></div>
</div>  
</template>
<script>
import axios from "axios";
export default {
    data: function() {
        return {
            messages: ""
        }
    },
    methods: {
        testButton: function() {
            console.log(this.$parent.parking_location);
            // axios.post("/api/parkings",
            //     {pickup_address: this.pickup_address, dropoff_address: this.dropoff_address},
            //     {headers: auth.getAuthHeaders()})
            //     .then(response => {
            //         this.messages = response.data.msg;
            //     }).catch(error => {
            //         console.log(error);
            //     });
        }
    },
    mounted: function () {   

    this.map = new google.maps.Map(document.getElementById('map-parking'), {zoom: 14, center: (new google.maps.LatLng(58.3792891,26.7260537))});
    // axios.post("/api/parkings", {parking_location: this.$parent.parking_location, time: this.$parent.time})
    //             .then(response => {
                   
    //             }).catch(error => {
    //                 console.log(error);
    //             });
    

    /*navigator.geolocation.getCurrentPosition(position => {
      let loc = {lat: position.coords.latitude, lng: position.coords.longitude};
      let loc2 = {lat: position.coords.latitude + 1, lng: position.coords.longitude + 1};
      this.geocoder = new google.maps.Geocoder;
      this.geocoder.geocode({location: loc}, (results, status) => {
          if (status === "OK" && results[0])
            this.pickup_address = results[0].formatted_address;
        });
      this.geocoder.geocode({location: loc2}, (results, status) => {
          if (status === "OK" && results[0])
            this.pickup_address = results[0].formatted_address;
        });
      this.map = new google.maps.Map(document.getElementById('map-parking'), {zoom: 14, center: loc});
      new google.maps.Marker({position: loc, map: this.map, title: "Current Location"});
      new google.maps.Marker({position: loc2, map: this.map, title: "Another Location"});
    }); */
  }
}
</script>

