<template>
<div class="row">
<div class="well col-sm-offset-3 col-sm-6">
<h2>Registration</h2>
<div>
  <div class="form-group">
    <label for="name">Name:</label>
    <input type="text" class="form-control" name="name" id="name" v-model="name"  v-validate="'required'" >
      <span v-show="errors.has('name')" class="help is-danger">{{ errors.first('name') }}</span>
  </div>
  <div class="form-group">
    <label for="username">Username:</label>
    <input type="text" class="form-control" id="username" name="username" v-model="username" v-validate="'required'" >
    <span v-show="errors.has('username')" class="help is-danger">{{ errors.first('username') }}</span>
  </div>
  <div class="form-group">
    <label for="password">Password:</label>
    <input type="password" class="form-control" id="password"  name="password" v-model="password" v-validate="'required'" >
    <span v-show="errors.has('password')" class="help is-danger">{{ errors.first('password') }}</span>
  </div>

  
  <div>
    <button type="submit" class="btn btn-default" id="register" v-on:click="register">Submit</button>  
    <p class="pull-right"> </a><router-link :to="{ name: 'login'}">Back to login ? </router-link></p>
  </div>
</div>
</div>
</div>
</template>
<script>
import auth from "./auth";

export default {
    data: function () {
        return {
            username: "",
            password: "",
            name: "",
            msg: ""
        }
    },
    methods: {
        register: function() {
            if(this.errors.any()) return ;
            console.log(`Username ${this.username}, password ${this.password}`);
            auth.register(this, {username: this.username,name: this.name, password: this.password}, "/");
        }
    }
}
</script>
