<h2>Listing parkings</h2>

<%= form_for @changeset, parking_path(@conn, :search), fn f -> %>

  <div class="form-group">
    <%= label f, :name, class: "control-label" %>
    <%= text_input f, :name, id: "parking_name", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= submit "Search", id: "submit_button", class: "btn btn-primary" %>
  </div>
<% end %>

<table class="table">
  <thead>
    <tr>

      <th>Name</th>
      <th>Street</th>
      <th>Zone</th>
      <th>StopAmount</th>
      <th>Filled StopAmount</th>

      <th>Operation</th>
    </tr>
  </thead>
  <tbody>
<%= for parking <- @parkings do %>
    <tr id="parkings">
  <td><%= parking.name %></td>
  <td><%= parking.street %></td>
  <td><%= parking.zone %></td>
  <td><%= parking.stopamount %></td>
  <td><%= parking.cnt %></td>

  <td> <span><%= link "Allocate", to: parking_parking_allocation_path(@conn, :allocate, parking.id), class: "btn btn-default btn-xs" %></span>  </td>
    </tr>
<% end %>
  </tbody>
</table>
